
@model LoginVM

<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
<form method="post" class="mt-5">

    <lable>UserName:</lable>
    <input asp-for="UserName" class="form-control" />
    <br />
    <span asp-validation-for="UserName"></span>

    <lable>Password:</lable>
    <input asp-for="Password" class="form-control" />
    <br />
    <span asp-validation-for="Password"></span>

    <div class="mt-4">
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>