@using Back_Final.Models;
@model List<Teams>
<main>
    <section class="hero">
        <div class="container">
            <div class="text">
                <h4>Welcome To Our Studio!</h4>
                <h1>
                    <strong>
                        IT'S NICE TO MEET YOU
                    </strong>
                </h1>
                <div>
                    <button class="btn btn-primary mt-4">TELL ME MORE</button>
                </div>
            </div>
        </div>
    </section>
    <section class="Services">
        <div class="title col-lg-12">
            <div class="container">
                <h3>SERVICES</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur.
                </p>
            </div>
        </div>
        <div class="Cards">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="Area">
                            <div class="container">
                                <div class="icon">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                </div>
                                <h5>
                                    E-Commerce
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                                    architecto quo inventore harum ex magni, dicta impedit.

                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="Area">
                            <div class="container">
                                <div class="icon">
                                    <i class="fa-solid fa-car"></i>
                                </div>
                                <h5>
                                    Auto-Mobiles

                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                                    architecto quo inventore harum ex magni, dicta impedit.


                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="Area">
                            <div class="container">
                                <div class="icon">
                                    <i class="fa-brands fa-windows"></i>
                                </div>
                                <h5>
                                    Wndows
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                                    architecto quo inventore harum ex magni, dicta impedit.


                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="About">
        <div class="title">
            <h2>ABOUTS</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur.
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="End col-lg-4 col-md-6 col-sm-6">
                                <h5>2010-2012</h5>
                                <h5>Our Humble Beginnings</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                                    sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde,
                                    sed, incidunt et ea quo dolore laudantium consectetur!

                                </p>
                            </div>
                            <div class="Img col-lg-4 col-md-6 col-sm-6">
                                <img src="~/assets/img/6.jpg" alt="">
                            </div>
                            <div class="col-lg-4"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="End col-lg-4 ">

                            </div>
                            <div class="Img col-lg-4 col-md-6 col-sm-6">
                                <img src="~/assets/img/7.jpg" alt="">
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <h5>APRIL 2013</h5>
                                <h5>An Agency is Born</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                                    sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde,
                                    sed, incidunt et ea quo dolore laudantium consectetur!

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="End col-lg-4 col-md-6 col-sm-6">
                                <h5>
                                    JANUARY 2014
                                </h5>
                                <h5>
                                    Transition to Full Service
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                                    sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde,
                                    sed, incidunt et ea quo dolore laudantium consectetur!

                                </p>
                            </div>
                            <div class="Img col-lg-4 col-md-6 col-sm-6">
                                <img src="~/assets/img/14.jpg" alt="">
                            </div>
                            <div class="col-lg-4"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="End col-lg-4">

                            </div>
                            <div class="Img col-lg-4 col-md-6 col-sm-6">
                                <img src="~/assets/img/12.jpg" alt="">
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <h5>FEBRUARY 2015</h5>
                                <h5>Phase Two Expansion</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                                    sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde,
                                    sed, incidunt et ea quo dolore laudantium consectetur!

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="EndText col-lg-12 col-md-12">


                    <h4>
                        BE PART <br>
                        OF OUR <br>
                        WORK!
                    </h4>

                </div>
            </div>
        </div>
    </section>
    <section class="Team">
        <div class="TeamPerson">
            <div class="titleAndHuman">
                <h4>OUR TEAM</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <div class="container">
                    <div class="row">
                        @foreach (Teams item in Model)
                        {
                            <div class="col-lg-4 col-md-12">
                                <div class="Person">
                                    <img src="~/assets/img/@item.Image" alt="">
                                    <h5>
                                        @item.Name
                                    </h5>
                                    <p>@item.Position</p>
                                    <div class="icon">
                                        <i class="fa-brands fa-twitter"></i>
                                        <i class="fa-brands fa-instagram"></i>
                                        <i class="fa-brands fa-linkedin"></i>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>