
@model Teams
<h3>Name:</h3>
<p>@Model.Name</p>
<h3>Position:</h3>
<p>@Model.Position</p>
<h3>Image:</h3>
<img src="~/assets/img/@Model.Image" alt="" style="height: 200px; width:300px">
<form method="post">
    <button type="submit" class="btn btn-danger text-light">Delete</button>
</form>